body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 134, 185);
}

a {
  text-decoration: none;
}

#navbar {
  display: flex;
  flex-direction: row-reverse;
}
nav {
  display: inline;
  font-size: 1.5em;
  text-align: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

#titleimage {
  display: inline;
  width: 10%;
}
#pfapi {
  display: inline-block;
  width: 80%;
  text-align: center;
}
#allflags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#allflagstitle {
  display: block;
  width: 100%;
  text-align: center;
}
#flagmage {
  width: 60%;
}
#oneflag {
  display: inline;
  width: 30%;
  font-size: x-large;
  text-align: center;
  justify-content: center;
}
