body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* label {
  display: block;
} */

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #navbar {
  display: flex;
  flex-direction: column;
} */

#titleimage {
  display: inline;
  width: 10%;
}
#pfapi {
  display: inline-block;
  width: 80%;
  text-align: center;
}

/* #nav {
  display:block;
} */
