/* backround, font, etc */

* body {
  background-color: powderblue;
  font-size: medium;
  font-family: Impact, fantasy;
}

/* entire page box - making it one big flex box */

#allflags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* the title of the page/ site, making it block */

#allflagstitle {
  width: 100%;
  justify-content: center;
  text-align: center;
}

/* dropdown settings */

#dropdown {
  width: 20%;
}

/* the outer box that contains all the flag cards */

.outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
}

/* each individual flag card  */
.card {
  width: 20%;
}

/* just the image part of the flag */
#flagmage {
  width: 50%;
  align-items: center;
}
